.htaccess
.html~
.vs/
.idea/
.well-known/
inventory/
*backup*/
*trash*/
**/*htdocs default docs*/
**/megatable/
**/megatable/wp-content/
**/megatable/wp-includes/
**/megatable/dbconfig.php
**/chromSimLite/
**/wikiChrom/
**/wikiChrom_ARCHIVED/
