.com.apple.timemachine.supported
.htaccess.phpupgrader.bc74e1fc
.htaccess.phpupgrader.initial
.htaccess
.html~
*.zip
.vs/
.idea/
.well-known/
inventory/
*backup*/
*trash*/
*htdocs default docs*/
pirok/
megatable/
megatable/wp-content/
megatable/wp-includes/
megatable/dbconfig.php
chromSimLite/
wikiChrom/
wikiChrom_new/
wikiChrom_ARCHIVED/
