body img { 
	display: inline;
}
body a {
    color: #084a6b;
}
table a:focus, table a:hover {
    color: darkmagenta;
}
table { 
	width: 100%;  
	border-collapse: collapse;
}
table h3 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}
table hr {
	margin: 0px;
	border-top: 1px solid #000;
}
table .fl-rgt {
	float: right; 
	margin-right: 5px;
}
table th {
 	border: 2px solid black;
	background-color: #e1e1e1;
	text-align: center;
	width: 104px;
	padding: 3px;
	color: #000000;
}
table td {
	border: 2px solid black;
	vertical-align: top;
	font-size: 1.10em;
	font-weight: bold;
	padding: 3px;
}

/***** Cell colors  ***/
.score7-9 {background: #63be7b;}
.score6 {background: #7dc67d}
.score5 {background: #98ce7f}
.score4 {background: #b1d580;}
.score3 {background: #ccdd82;}
.score2 {background: #e5e483;}
.score1 {background: #ffeb84;}
.score0 {background: #fdd57f;}
.score-1 {background: #fcbf7b;}
.score-2 {background: #fbaa77;}
.score-3 {background: #fa9473;}
.score-4 {background: #f97e6f;}
.score-5-10 {background: #f8696b;}

/***** Modal *****/
.modal-header {
	padding: 15px 15px 10px 15px;
	background: #fff;
	border: 0;
	border-bottom: 1px solid #ddd;
}
.modal-title {
	margin-bottom: 10px;
	line-height: 25px;
}
.modal-body {
	padding: 15px 15px 20px 15px;
	color: #000;
	background: #eee;
	text-align: left;
}
.data-content {
	color: #000000;
} 


